.Left_side{

width: 210px;
height: 670px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
margin: 3px;
color: #8D8D8D;

}
.options{
    padding: 15px;
     font-weight: bolder; 
    opacity: 0.8;
    text-align: left;
    
}
.home2{
    color: black;
}
.option_icons{
    padding: 3px;
    padding-right: 20px;
    color: #8D8D8D;
}
.logOut_icon{
padding-top: 180px;
opacity: 1;
color: #88C2BB;
text-align: left;

}
.text2{
    text-align: left;
 font: normal normal 600 9px/25px Gilroy;
letter-spacing: 0px;
color: #8D8D8D;
opacity: 1;

}
